.navigation {
    width: 100%;
    max-height: 100vh;
    position: fixed;
    top: -100%;
    bottom: 0;
    left: 0;
    right: 0;
    transition: top .4s ease-in-out;
    background-color: $blue;
    @include flex;
    flex-direction: column;
    z-index: 10;

    &--open {
        top: 0;
    }

    &__open,
    &__close {
        width: 30px;
        background-color: transparent;
        border: none;

        &:hover {
            cursor: pointer;
        }
    }

    &__close {
        position: absolute;
        top: 40px;
        right: 40px;
    }

    &__hamburger,
    &__x {
        width: 100%;
    }

    &__link {
        padding: 15px 20px;
        align-self: flex-start;
        font-size: 1.5rem;
        color: $white;
        transition: all .3s;

        &:hover {
            color: $font-color;
            text-decoration: underline;
        }
    }

    @include tablet {
        width: auto;
        height: auto;
        position: static;
        transition: none;
        background-color: transparent;
        flex-direction: row;

        &__link {
            align-self: unset;
            font-size: $font-norm;
            color: $font-color;
            padding: 0 20px 0 0;
            transition: none;

            &:last-child {
                padding-right: 0;
            }
        }

        &__open,
        &__close {
            display: none;
        }
    }

}