.pagetitle {
    @include flex;
    flex-direction: column;

    &__title {
        margin-top: 100px;
        font-size: 2rem;
        font-family: $roboto;
        text-transform: uppercase;
        z-index: 5;
    }

    &__img {
        margin-top: -10%;
        opacity: .5;
        z-index: 0;
    }

    @include tablet {
        &__title {
            font-size: 3rem;
        }
    }
}