.poi {
    padding: 50px 0;

    &__content {
        @include content;
    }

    &__title {
        font-size: 2rem;
        font-family: $roboto;
        color: $primary;
        text-align: center;
    }

    &__grid {
        @include flex;
        flex-wrap: wrap;
        align-items: stretch;
        margin-top: 50px;
    }



    &__button {
        margin: 0 auto;
        padding: 0.5rem 2rem;
        max-width: 250px;
        display: block;
        border: 1px solid $font-color;
        color: $font-color;
        font-size: 1rem;
        text-transform: uppercase;
        text-align: center;
        transition: all .2s;

        &:hover {
            cursor: pointer;
            background-color: $font-color;
            color: $white;
        }
    }

    @include desktop {
        &__title {
            text-align: left;
        }

        &__grid {
            justify-content: space-between;
        }
    }
}