.allpoints {
    @include content;

    &__grid {
        margin-top: -30%;
        padding-bottom: 50px;
        display: grid;
        grid-template-columns: auto;
        gap: 20px;
    }

    @include tablet {
        &__grid {
            grid-template-columns: repeat(2, auto);
        }
    }
}