@mixin tablet {
    @media screen and (min-width: $tablet) {
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width: $desktop) {
        @content;
    }
}

@mixin content {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

@mixin flex {
    display: flex;
    justify-content: center;
    align-items: center;
}