.posts {
    padding: 100px 0;
    background-color: $bg-light;

    &__title {
        font-size: 2rem;
        font-family: $roboto;
        color: $primary;
    }

    &__content {
        @include content;
    }

    &__container {
        @include flex;
        flex-direction: column;
        margin-top: 30px;
    }

    &__button {
        margin: 60px auto 0 auto;
        padding: 0.5rem 2rem;
        display: block;
        border: 1px solid $font-color;
        text-transform: uppercase;
    }

    @include desktop {
        &__container {
            flex-direction: row;
            justify-content: space-between;
        }
    }
}

.postpre {
    &:not(:first-child) {
        margin-top: 70px;
    }
    max-width: 500px;
    background-color: $white;

    &__content {
        margin: 0 auto;
        padding: 1.5rem;
        max-width: 350px;
    }

    &__tags {
        color: $primary;
        font-size: $font-xs;
        text-align: center;
        text-transform: uppercase; 
    }

    &__title {
        font-family: $roboto;
        font-size: 1.5rem;
        text-align: center;
        text-transform: uppercase;
    }

    &__text {
        margin-top: 15px;
        text-align: center;
    }

    &__link {
        margin: 30px auto 0 auto;
        padding: 0.5rem 2rem;
        width: 70%;
        max-width: 220px;
        border: 1px solid $primary;
        text-transform: uppercase;
        color: $primary;
        display: block;
        text-align: center;
    }

    &__footer {
        @include flex;
        flex-direction: column;
        margin-top: 30px;
        border-top: 1px solid $font-color;
    }

    &__by {
        margin-top: 10px;
        opacity: 0.7;
        font-size: $font-xs;
    }

    &__orange {
        color: $primary;
        opacity: 1;
    }

    &__share {
        @include flex;
        margin-top: 20px;
    }

    &__icon {
        margin: 0 5px;
        width: 20px;
        fill: rgba($font-color, 0.7);
        transition: fill .2s;
        &:hover {
            cursor: pointer;
            fill: $primary;
        }
    }

    @include desktop {
        &:not(:first-child) {
            margin-top: 0;
        }
        width: 31%;
    }
}