$font-xs: 12px;
$font-base: 14px;
$font-norm: 16px;

$poppins: "Poppins", sans-serif;
$roboto: "Roboto Condensed", sans-serif;

$tablet: 768px;
$desktop: 1024px;

$primary: #f3771d;
$green: #beef9e;
$blue: #84acce;
$bg-light: #f0f0f0;
$font-color: #232f2f;
$white: #ffffff;